* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000000;
  --text-primary-color: #ffffff;
  --text-secondary-color: #ffdfcf;
  --primary-color: #af66da;
  --secondary-color: #cb97e78c;
  --details-color: #ffd15b;

  --base-font: "Acme", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary-color);
  font-family: var(--base-font);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.125rem;
}

.container {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

h1 {
  font-family: var(--display-font);
  color: var(--details-color);
  margin-bottom: 64px;
}

.gameSetup img {
  width: 150px;
  margin-bottom: 64px;
}

.gameSetup form {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 20px;
  width: 60%;
  margin: auto;
}

.gameSetup input {
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-weight: bold;
  font-family: var(--base-font);
  font-size: 1.5rem;

  letter-spacing: 0.2rem;
}

.gameSetup button {
  width: 40%;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-family: var(--base-font);
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-size: 1.125rem;
}

.gameSetup button:hover {
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

/* Styles Game */

.gameSection {
  display: none;
}

.buttonArms img {
  width: 50px;
}

.buttonArms button {
  background-color: transparent;
  border: none;
  font-family: var(--base-font);
}

footer {
  display: flex;
  justify-content: end;
}
