* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000000;
  --text-primary-color: #ffffff;
  --text-secondary-color: #ffdfcf;
  --primary-color: #af66da;
  --secondary-color: #cb97e78c;
  --details-color: #ffd15b;

  --base-font: "Acme", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary-color);
  font-family: var(--base-font);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1rem;
}

.container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

h1 {
  font-family: var(--display-font);
  color: var(--details-color);
  margin: 25px 0;
  font-size: 1.7rem;
}

/* Setup Styles */

.gameSetup img {
  width: 150px;
  margin-bottom: 64px;
}

.gameSetup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.gameSetup input {
  display: flex;
  width: 90%;
  max-width: 350px;
  justify-content: center;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-weight: bold;
  font-family: var(--base-font);
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.gameSetup button {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-family: var(--base-font);
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-size: 0.8rem;
}

.gameSetup button:hover {
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

/* Game Styles */

.instructionsGame {
  padding-bottom: 15px;
}

.computer {
  height: 100px;
}

.name {
  width: 90%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  background-color: var(--secondary-color);
  border-radius: 25px;
}

.name h2 {
  padding: 15px 0;
}

.result {
  width: 90%;
  max-width: 225px;
  margin: auto;
  background-color: var(--primary-color);
  padding: 10px 0;
  color: var(--details-color);
  border-radius: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.score {
  background-color: var(--secondary-color);
  display: block;
  width: 40px;
  border-radius: 150px;
  margin: auto;
}

.gameSection {
  display: none;
  height: 100%;
}

.buttonArms img {
  width: 40px;
  padding: 10px 0;
}

.buttonArms button {
  background-color: transparent;
  border: none;
  font-family: var(--base-font);
  padding: 10px 20px;
  cursor: pointer;
}

.restartButton {
  padding-top: 30px;
}

.restartButton button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 25px;
  font-family: var(--base-font);
  padding: 5px 20px;
  color: var(--text-primary-color);
}
